<form [formGroup]="dataSourceForm">
	<p class="mb-1">{{ "labels.data-source-format" | translate }}</p>
	<div class="grid">
		<div class="col-12">
			<p-dropdown [options]="dataSourceFormats" formControlName="type" placeholder="Format" (change)="updateFormVisibility($event.value)">
			</p-dropdown>
		</div>
	</div>

	<!-- FILE input -->
	<div *ngIf="showFileFields">
		<p class="mb-1">{{ "labels.data-source-file" | translate }}</p>
		<div class="grid">
			<div class="col-12">
				<div class="flex">
					<label class="customfileUpload">
						Importar de local
						<input class="fileUploader" type="file" formControlName="fileName" pInputText (change)="onFileSelected($event)" />
					</label>
					<span class="fileName" [class.selected]="fileSelected">{{ fileName }}</span>
				</div>
			</div>
		</div>
	</div>

	<!-- NAME input -->
	<div *ngIf="showFileFields || showDatabaseFields">
		<div class="grid">
			<div class="col-12">
				<label for="">{{ "labels.name" | translate }}</label>
				<input type="text" pInputText formControlName="name" />
			</div>
		</div>
	</div>

	<!-- DATABASE inputs -->
	<div *ngIf="showDatabaseFields">
		<div class="grid">
			<div class="col-6">
				<label for="">{{ "labels.database-type" | translate }}</label>
				<p-dropdown [options]="dataBaseFormats" formControlName="databaseType" placeholder="Type"> </p-dropdown>
			</div>
			<div class="col-6">
				<label for="">{{ "labels.user" | translate }}</label>
				<input type="text" pInputText formControlName="userName" />
			</div>
			<div class="col-6">
				<label for="">{{ "labels.password" | translate }}</label>
				<input type="text" pInputText formControlName="password" />
			</div>
			<div class="col-12">
				<label for="">{{ "labels.connection-url" | translate }}</label>
				<input type="text" pInputText formControlName="connectionString" />
			</div>
		</div>
	</div>

	<div class="flex justify-content-end gap-2 mt-2">
		<p-button class="btn btn__primary" [label]="'data-sources.data-source.add' | translate" type="button" (click)="onSubmit()" />
	</div>
</form>
