<div class="whiteContainer w-full">
	<h1 class="mb-3">{{ "mappings.mapping.list" | translate }}</h1>
	<p-button class="btn btn__secondary mr-2" [label]="'mappings.mapping.manual' | translate" routerLink="/mappings/builder" />
	<p-button class="btn btn__secondary mr-2" [label]="'mappings.mapping.automatic' | translate" />
	<p-button class="btn btn__secondary" [label]="'mappings.mapping.import' | translate" />
	<p-table class="mt-2 block" [value]="mappings">
		<ng-template pTemplate="header">
			<tr>
				<th scope="col">{{ "labels.name" | translate }}</th>
				<th scope="col">{{ "labels.ontology" | translate }}</th>
				<th scope="col">{{ "labels.data-source" | translate }}</th>
				<th scope="col"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-mapping>
			<tr>
				<td>{{ mapping.name }}</td>
				<td>{{ mapping.ontology }}</td>
				<td>{{ mapping.datasource }}</td>
				<td>
					<div class="flex flex-justify flex-justify-right">
						<p-button class="btn btn__icon icon-ojo mr-1" />
						<p-button (onClick)="showDialog()" class="btn btn__icon icon-play mr-1" />
						<p-button class="btn btn__icon icon-lapiz mr-1" />
						<p-button (onClick)="showDialogDelete()" class="btn btn__icon icon-papelera" />
					</div>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>

<!-- Materialisation history dialog -->
<p-dialog
	[header]="'mappings.mapping.records-list' | translate"
	[modal]="true"
	[draggable]="false"
	[(visible)]="addDialogVisible"
	[style]="{ width: '60rem' }"
>
	<app-mappings-records (formSubmitted)="addDialogVisible = false"></app-mappings-records>
</p-dialog>

<!-- Delete dialog -->
<p-dialog
	[header]="'mappings.mapping.confirmation' | translate"
	[modal]="true"
	[draggable]="false"
	[(visible)]="deleteDialogVisible"
	[style]="{ width: '40rem' }"
>
	<div class="flex flex-justify-right w-full">
		<p-button class="btn btn__primary mr-2" [label]="'labels.delete' | translate" type="button" />
		<p-button class="btn btn__secondary" [label]="'labels.cancel' | translate" type="button" />
	</div>
</p-dialog>
