<a class="btn btn__secondary back mb-2" routerLink="/mappings">Volver a la lista de mapeos</a>
<div class="grid">
	<div class="col-8">
		<div class="whiteContainer pb-0">
			<div class="grid">
				<div class="col-12">
					<h1 class="category category__ontologies">{{ "ontologies.ontologies" | translate }}</h1>
					<div class="grid">
						<!-- Ontologies-->
						<div class="col-4">
							<p class="mt-1 mb-0">Ontologías</p>
							<div class="mappingCategory">
								<div class="flex flex-column gap-3">
									<div class="searcherContainer">
										<input class="searcher" [placeholder]="'placeholders.search' | translate" type="text" pInputText />
									</div>
									<div *ngFor="let ontology of ontologies" class="field-checkbox">
										<p-radioButton
											[inputId]="ontology.id"
											name="ontology"
											[value]="ontology"
											[(ngModel)]="selectedOntology"
											(ngModelChange)="onOntologySelect($event)"
										/>
										<label [for]="ontology.id" class="ml-2">
											{{ ontology.name }}
										</label>
									</div>
								</div>
							</div>
						</div>
						<!-- Classes-->
						<div *ngIf="selectedOntology" class="col-4">
							<p class="mt-1 mb-0">{{ "ontologies.ontology.classes" | translate }}</p>
							<div class="mappingCategory">
								<div class="flex flex-column gap-3">
									<div class="searcherContainer">
										<input class="searcher" [placeholder]="'placeholders.search' | translate" type="text" pInputText />
									</div>
									<div *ngFor="let class of classes" class="field-checkbox">
										<p-radioButton
											[inputId]="class"
											name="class"
											[value]="class"
											[(ngModel)]="selectedClass"
											(ngModelChange)="onClassSelect($event)"
										/>
										<label [for]="class" class="ml-2">
											{{ class }}
										</label>
									</div>
								</div>
								<p-button (onClick)="showDialogElement()" class="addButton addButton__plus" [label]="'labels.add-element' | translate" />
							</div>
						</div>
						<!-- Attributes-->
						<div *ngIf="selectedClass" class="col-4">
							<p class="mt-1 mb-0">{{ "ontologies.ontology.attributes" | translate }}</p>
							<div class="mappingCategory">
								<div class="flex flex-column gap-3">
									<div class="searcherContainer">
										<input class="searcher" [placeholder]="'placeholders.search' | translate" type="text" pInputText />
									</div>
									<div *ngFor="let category of categories" class="field-checkbox">
										<p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedOntology" />
										<label [for]="category.key" class="ml-2">
											{{ category.name }}
										</label>
									</div>
								</div>
								<p-button (onClick)="showDialogElement()" class="addButton addButton__plus" [label]="'labels.add-element' | translate" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 flex flex-justify-right pt-0 pb-0">
					<p-button class="btn btn__primary icon-chevron" [label]="'labels.add-output' | translate" />
				</div>
				<!-- Data Sources-->
				<div class="col-12">
					<h1 class="category category__datasources">Fuentes de datos</h1>
					<p class="mt-1 mb-1">Seleccione el formato de la fuente de datos</p>
					<p-dropdown [options]="formats" [(ngModel)]="selectedFormat" optionLabel="name" placeholder="Selecciona un formato"></p-dropdown>

					<div class="grid mt-0">
						<div class="col-4">
							<p class="mt-1 mb-0">Datos</p>
							<div class="mappingCategory">
								<div class="flex flex-column gap-3">
									<div class="searcherContainer">
										<input class="searcher" [placeholder]="'placeholders.search' | translate" type="text" pInputText />
									</div>
									<div *ngFor="let category of categories" class="field-checkbox">
										<p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedOntology" />
										<label [for]="category.key" class="ml-2">
											{{ category.name }}
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<p class="mt-1 mb-0">Tablas</p>
							<div class="mappingCategory">
								<div class="flex flex-column gap-3">
									<div class="searcherContainer">
										<input class="searcher" [placeholder]="'placeholders.search' | translate" type="text" pInputText />
									</div>
									<div *ngFor="let category of categories" class="field-checkbox">
										<p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedOntology" />
										<label [for]="category.key" class="ml-2 queryItem">
											{{ category.name }}
										</label>
									</div>
								</div>
								<p-button (onClick)="showDialogQuery()" class="addButton addButton__query" label="Añadir query" />
							</div>
						</div>
						<div class="col-4">
							<p class="mt-1 mb-0">Query</p>
							<div class="mappingCategory mappingCategory__query">
								SELECT EMP.*,(CASE JOB WHEN'CLERK'THEN'general-office' WHEN'NIGHTGUARD'THEN'security' WHEN'ENGINEER'THEN'engineering' END)
								ROLE FROM EMP
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="whiteContainer h-full">
			<h1 class="category category__mapping mb-1">Mapeo</h1>
			<label for="">Nombre del mapeo</label>
			<input class="mb-2" type="text" pInputText />
			<p-table class="mappingTable" [value]="mappings">
				<ng-template pTemplate="header">
					<tr>
						<th id="ontology">Ontología</th>
						<th id="database">Fuente de datos</th>
						<th id="options"></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-mapping>
					<tr>
						<td>{{ mapping.ontology }}</td>
						<td>{{ mapping.database }}</td>
						<td>
							<div class="flex flex-justify flex-justify-right">
								<p-button class="btn btn__icon icon-papelera mr-1" />
							</div>
						</td>
					</tr>
				</ng-template>
			</p-table>
			<div class="col-12 flex flex-justify-right p-0 mt-2">
				<p-button class="btn btn__primary" label="Generar mapeo" />
			</div>
		</div>
	</div>
</div>

<p-dialog header="Añadir elemento" [modal]="true" [draggable]="false" [(visible)]="elementDialogVisible" [style]="{ width: '40rem' }">
	<label for="">Nombre</label>
	<input class="mb-4" type="text" pInputText />
	<div class="flex flex-justify-right w-full">
		<p-button class="btn btn__primary" label="Añadir elemento" type="button" />
	</div>
</p-dialog>

<p-dialog header="Añadir query" [modal]="true" [draggable]="false" [(visible)]="queryDialogVisible" [style]="{ width: '40rem' }">
	<label for="">Nombre</label>
	<input class="mb-2" type="text" pInputText />
	<label for="">Query</label>
	<textarea class="textHighlight mb-4"></textarea>
	<div class="flex flex-justify-right w-full">
		<p-button class="btn btn__primary" label="Añadir query" type="button" />
	</div>
</p-dialog>
