<p-button class="btn btn__primary mb-2" label="Nueva materialización" />
<div class="recordContainer">
	<div class="recordContainer__item">
		<p class="recordTitle">Última materialización ejecutada hace <strong>1 hora</strong></p>
		<div class="recordFiles">
			<a class="recordFile recordFile__RML" href="#">fichero_1234.rml</a>
			<a class="recordFile recordFile__RDF" href="#">fichero_1234.rdf</a>
			<a class="recordFile recordFile__SPARQL" href="#">fichero_1234.sparql</a>
			<a class="recordFile recordFile__LOG" href="#">fichero_1234.log</a>
		</div>
	</div>
	<div class="recordContainer__item">
		<p class="recordTitle">Última materialización ejecutada hace <strong>1 hora</strong></p>
		<div class="recordFiles">
			<a class="recordFile recordFile__RML" href="#">fichero_1234.rml</a>
			<a class="recordFile recordFile__RDF" href="#">fichero_1234.rdf</a>
			<a class="recordFile recordFile__SPARQL" href="#">fichero_1234.sparql</a>
			<a class="recordFile recordFile__LOG" href="#">fichero_1234.log</a>
		</div>
	</div>
	<div class="recordContainer__item">
		<p class="recordTitle">Última materialización ejecutada hace <strong>1 hora</strong></p>
		<div class="recordFiles">
			<a class="recordFile recordFile__RML" href="#">fichero_1234.rml</a>
			<a class="recordFile recordFile__RDF" href="#">fichero_1234.rdf</a>
			<a class="recordFile recordFile__SPARQL" href="#">fichero_1234.sparql</a>
			<a class="recordFile recordFile__LOG" href="#">fichero_1234.log</a>
		</div>
	</div>
</div>
