// COLORS

$primary: #ef7011ff;
$secondary: #404040;

$grey100: #F3F3F3;
$grey200: #F5F5F5;
$grey300: #DCDCDC;
$grey400: #D1D1D1;
$grey500: #A8A8A8;
$grey600: #9E9E9E;
$grey700: #6B6B6B;
$grey800: #404040;

$orange: #FF9E57;
$blue: #57C3FF;
$green: #72D470;

$black: #222222;
$white: #ffffff;

$primaryfade: rgba(239, 112, 17, 0.5);
